<%= render 'layouts/navigation' %>
<div class="container">
<div class="callout large primary">
	<div class="row column text-center">
		<h1>Events and updates</h1>
	</div>
</div>
				 
<div class="row medium-8 large-7 columns">
	<div class="blog-post text-center">
		<h3>Last updates</h3>
		<div style="text-align: left">

		May 13: <br>
		Unexplained bugs fixed about army movement formula. Armies movement calculated slightly faster.<br> 
		Added new property to units - walking speed. Every unit now goes at same speed. But it will be availabe to edit unit speed in later updates. Now is same default value for all units. <br><br>

		May 14:<br>
		Added better background (ground) as image instead of white or green color background.<br>
		Map is scrolled infinity to any side, adjusted it to look good when zooming fight or when dragging screen.<br><br>

		May 17:<br>
		Added more explanation about game and more images to homepage.<br><br>

		May 18:<br>
		added low and normal graphics instead of only best graphics. <br>
		Now fight starts only on low graphics. Graphics include swordsman and background map quality.<br>
		During fight you can press "normal graphics" or "best graphics", images will be loaded and units 
		quality will be changed dynamically. With best graphics was not possible to watch on phones. <br>
		Now with lowest graphics phone can handle the fight. And the initial load time is much faster. <br><br>

		May 28:<br>
		Placed armyfights on another server with better managing. Now it will be much easier for updates. <br><br>

		May 31:<br>
		Added registrations and army creation for registered users. Watch army fights can all not logged-in users. <br>
		Added another page for army creation. There will be possible to make random health, damage and other stats, but yet not implemented.<br>
		During army creation, after every army stats or positions change you can save it to database with button "save".<br>
		During fight watch you can still add extra armies and place them anywhere with different stats. <br>
		Added new ability to drag armies on screen to change their positions on X and Y coordinates. <br>
		Added new ability to center the selected army. And to see which army is selected.<br>
		Changed design of every single website page. <br>
		Logged in users can edit and delete their created armies. <br>
		Fights are listed globally on website and anyone can watch any fight. <br>
		<br><br>
		June 3:<br>
		Added speed to armies to be managed during army creation. Now different units run at different speed <br><br>


		</div>
	</div>
</div>

<div class="row medium-8 large-7 columns">
	<div class="blog-post text-center">
		<h3>Soon upcoming updates</h3>
		<div style="text-align:left">
			On June ~ July<br>
			Will be added facebook/twitter integration, ability to post link to fight on facebook and twitter. <br>
			Will be added obstacles and City<br>
			Armies will be available to avoid obstacles and city. City will be very huge compared to armies.<br>
			City will be surrounded by mountains, only one side will be with long defensive Wall and Gates.<br>
			It will be demo-version of city, so with low or bad-painted graphics yet. <br> 
		</div>
	</div>
</div><br>


<div class="row medium-8 large-7 columns">
	<div class="blog-post text-center">
		<h3>Late upcoming updates</h3>
		<div style="text-align:left">
			On July ~ September <br>
			Will be created better army surrounding functions.<br>
			Will be created better Village graphics.<br>
			Armies will be made of groups instead like of single units like now.<br>
			Fights will be faster and require less CPU.<br><br>
			On October ~ December <br>
			Archer, horse, tarans and catapults will be created. Just without 3D sprite graphics.<br>
			Armies will be adjusted to game tribal wars 2 Log's.
			People will input log information and watch the army fighting. Battle will end same as in Log results.<br>
			<br>
			On 2017 January ~ March<br>
			Will be added better graphics to unit sprites, ground and village.<br>
			Will be made another army fight for people who want just simulate the armies.<br>
			You can manage the armies, tell where to go, who to attack <br>
			<br>
			On 2017 April ~ June <br>
			Will me made multiplayer.<br><br>
			On 2017 July ~ September <br>
			For armies will be made better graphics and less load.<br><br>
			On 2017 October  December <br>
			Army fight for game tribal wars 2 will be finished. <br>
			Will be created plugin for game tribal wars 2, for Chrome and Firefox users on PC.<br>
			Ths plugin will redirect to armyfight.com website and armies will be placed automatically on field.<br>
			Armies will not be managed on this view. You can only watch the fight and see how battle ends same as in Log's.<br><br>
			On 2018 ~ 2019 <br>
			Armyfight will be adjusted to more 1 ~ 2 similar games like tribal wars 2.
		</div>
	</div>
</div><br>

<div class="row medium-8 large-7 columns">
	<div class="blog-post text-center">
		<h3>What is my goal? I want to reach close to this view. Attackers will be surrounded the city, and near city walls will be defenders.</h3><br>
		<div class="col-md-3">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ppZgvFxi2zo?start=46&amp;end=53&amp;rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
	</div>
</div><br><br><br><br>
</div>