<div class="col-md-7" style='left: -15px;'>
  <canvas id="background" class="background" style="border: 1px solid #2199e8; position:absolute" >
	  <%= r('fights.not_support_canvas_element') %>
  </canvas>
  <canvas id="unit_deaths" class="unit_deaths" style="border: 1px solid #2199e8; position:absolute" >
  	  <%= r('fights.not_support_canvas_element') %>
  </canvas>
  <canvas id="game" class="game_canvas" style="border: 1px solid #2199e8; position:absolute">
  	  <%= r('fights.not_support_canvas_element') %>
  </canvas>

</div>