<div class="col-md-7" style='left: -15px;'>
    <canvas id="background" class="background" style="border: 1px solid #2199e8; position:absolute" >
      Your browser does not support canvas element. Please use Chrome / Mozilla or newer Internet Explorer browser.
  </canvas>
  <canvas id="unit_deaths" class="unit_deaths" style="border: 1px solid #2199e8; position:absolute" >
      Your browser does not support canvas element. Please use Chrome / Mozilla or newer Internet Explorer browser.
  </canvas>
  <canvas id="game" class="game_canvas" style="border: 1px solid #2199e8; position:absolute">
      Your browser does not support canvas element. Please use Chrome / Mozilla or newer Internet Explorer browser.
  </canvas>

</div>