
<div data-ng-show="edit_army_view(4)" style='padding: 15px;'>


    <div class="row" style='padding-top:10px;'>
        <div class="col-md-12">
        <button data-ng-show='drawing_enabled' class="btn btn-default" data-ng-click='draw_map()'><%= r('homepage.fights.draw_square') %></button>
        <button data-ng-show='!drawing_enabled' class="btn btn-success" data-ng-click='draw_map()'><%= r('homepage.fights.now_drawing') %></button>
        </div>
    </div>

    <div class="row" style='padding-top:10px;'>
        <div class="col-md-12">
            Color: <input class="jscolor" name='jscolorvalue' value="000000" onchange='angular.element(this).scope().set_color();'>
        </div>
        <div class="col-md-6">
            Range: <input type="range" name='map_range' min='1' max='100' step='1' value='10' onchange='angular.element(this).scope().set_map_range();'>
        </div>
    </div>

    <br>


</div>
