<div class="col-md-offset-3 col-md-4" style='left: -8px; position:absolute; background-color: rgba(33, 153, 132, 0.8); color:white;' 
data-ng-show="edit_army_view(3)">

    <button class="btn btn-primary" data-ng-click='army_view = 1'>Stats page</button>
    <button class="btn btn-primary" data-ng-click='army_view = 2'>Targets page</button>
    <button class="btn btn-primary" data-ng-click='army_view = 3'>Formations page</button>



    <div class="row" style='padding-top:10px;'>
        <div class="col-md-6 columns">
            <button class="btn btn-success" data-ng-click='center_army()'>Center this army</button>
            <button class="btn btn-success" data-ng-click='deselect_army()' style='display:inline; float:right;'>Deselect this army</button>
        </div>
        <div class="col-md-6 columns">
            This feature is not yet implemented
        </div>
    </div>


    <br>

</div>