<<<<<<< HEAD
<div data-ng-app="app" data-ng-controller="game" data-ng-init = "fight_editing('<%= @fight.name %>')">
<%= render 'form' %>
=======
<div data-ng-app="app" data-ng-controller="game" data-ng-init = "fight_editing(<%= @fight.id %>)">
<%= render 'edit_form' %>
>>>>>>> d4fca1d4bc5f4dc700e0ff4889f949f8e87eb0e3
</div>